.Person {
    width: 50%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    margin: 20px auto;
    border-radius: 20px;
    text-align: center;
}

p {
    margin: 0px 0px 15px 0px;
}