body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

input {
  box-sizing: border-box;
  padding: 12px 18px;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: medium;
}

button {
  margin: 16px 8px;
  padding: 12px 32px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: medium;
  transition: all 0.3s ease-out;
  background-color: #8e44ad;
  color: white;
}

button:disabled {
  background-color: #8d44ad73;
}

button:hover:enabled {
  transform: scale(1.1);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 12px 18px;
  width: fit-content;
  margin: 16px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  user-select: none;
}
