.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(142, 142, 142);
}

.Blog li {
  display: inline-block;
  margin: 16px;
}

.Blog a {
  text-decoration: none;
  color: black;
  transition: all 0.15s ease-out;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
  border-bottom: 1px solid rgb(142, 142, 142);
}
